@import url('https://fonts.googleapis.com/css?family=Open+Sans|Courgette|Source+Serif+Pro:400,700');

* {
  font-family: 'Open Sans', sans-serif;
}
p, ul {
  line-height: 1.9em;
}

.background {
  background-image: url('../images/caruthers-zipper-opacity.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/*NAVBAR*/
.navbar-brand>img {
    display: block;
    height: 2em;
    width: 3em;
}

.navbar-default {
  margin-bottom: 0;
}

.navbar-default .navbar-brand {
  color: rgba(9, 92, 194, 0.76);
  font-size: 1.5em;
  font-weight: bolder;
  font-family: 'Source Serif Pro', serif;
  text-shadow: 1px 1px black;
}
.navbar-default .navbar-nav>li>a {
  color: rgba(9, 92, 194, 0.76);
  font-size: 1.2em;
}
/*END NAVBAR*/

/*FAIR TITLE AND DATE*/
.fair-title  {
  color: rgba(9, 92, 194, 0.76);
  font-size: 2.5em;
  font-family: 'Courgette', cursive;
  text-shadow: 1px 1px slategrey;
}

.fair-date {
  color: red;
  font-size: 1.4em;
  text-shadow: 1px 1px darkslategrey;
}

hr {
  max-width: 85px;
  border-color: rgba(9, 92, 194, 0.76);
  margin-top: 0;
  border-width: 2px;
}
/*END FAIR TITLE AND DATE*/

/*BUTTONS FOR TICKETS AND INFO*/
.button {
  background-color: lightgrey;
  font-family: sans-serif;
  font-size: 2em;
  color: rgba(9, 92, 194, 0.76);
  text-shadow: 1px 1px darkslategrey;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 1px 1px 5px grey;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 7px dashed;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}
/*END BUTTONS FOR TICKETS AND INFO*/

/*COLUMN CONTENT*/
.entertainment-bg {
  height: 300px;
  background-image: url('../images/caruthers-fair-band.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.motercycle-bg {
  height: 300px;
  background-image: url('../images/caruthers-fair-racing.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.animals-bg {
  height: 300px;
  background-image: url('../images/caruthers-fair-animals.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.queen-bg {
  height: 300px;
  background-image: url('../images/caruthers-fair-queen.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.col-title {
  color: white;
  font-size: 2.75em;
  text-shadow: 3px 3px black;
}

.col-subtitle {
  color: white;
  font-size: 1.5em;
  text-shadow: 2px 2px black;
  margin-top: 0%;
}
/*END COLUMN CONTENT */

/*FAIR THEME*/
.fair-theme  {
  color: rgba(9, 92, 194, 0.76);
  border: 1px solid darkgrey;
  /*background-color: lightgrey;*/
  /*margin: 2% 0 2% 0;*/
  height: 15em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order-bottom: 1px solid grey;

}
.fair-theme h3 {
  font-size: 3em;
  text-shadow: 2px 2px black;
}
.fair-theme h5 {
  font-size: 1.75em;
  text-shadow: 2px 1px darkslategrey;
}

.fair-theme hr {
  max-width: 85px;
  border-color: white;
  margin-top: 0;
  border-width: 2px;
}
/* END FAIR THEME*/

/*FOOTER*/
.footer-col {
  height: 200px;
  background-color: lightgrey;
  padding-top: 2%;
}

.footer-social {
  font-size: 30px;
}

.copy-row {
  background-color: lightgrey;
  padding-bottom: 3%;
}
/*END FOOTER*/

/*ENTERTAINMENT PAGE*/
.mainstage-sched h3, .backstage-sched h3 {
  color: rgba(9, 92, 194, 0.76);
  text-shadow: 1px 1px darkslategrey;
}
.mainstage-sched hr, .backstage-sched hr {
  max-width: 475px;
  border-color: grey;
  margin-top: 0;
  border-width: 2px;
}
 .mainstage-sched h4, .backstage-sched h4 {
   margin: 0;
   margin-bottom: -10px;
 }

 .stage-sched {
   margin-bottom: 2%;
 }
/*END ENTERTAINMENT PAGE*/

/*MOTORCYCLE PAGE*/
.motorcycle h3, .motorcycle h4 {
  color: rgba(9, 92, 194, 0.76);
  text-shadow: 1px 1px darkslategrey;
}

.motorcycle-par {
  margin-top: -63%;
}

.grey-hr {
  max-width: 525px;
  border-color: grey;
  margin-top: 5%;
  border-width: 2px;
}

.fresno-link {
  font-size: 1.5em;
  margin-bottom: 5%;
}
/*END MOTORCYCLE PAGE*/

/* ANIMAL PAGE*/
.pdf-col {
  margin-bottom: 5%;
}
/*END ANIMAL PAGE*/

/*QUEEN AND GRAND MARSHALL PAGE*/
.content-row {
  margin-bottom: 10%;
}

.content-row h3 {
  color: rgba(9, 92, 194, 0.76);
  text-shadow: 1px 1px darkslategrey;
}
/* END QUEEN AND GRAND MARSHALL PAGE*/
